.inner-info-details {
	&__bd {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
        padding-bottom: 12px;
		border-bottom: 1px solid rgba(151, 151, 151, 0.29);
		width: 100%;
        padding-top: 9px;
	}

	&__wrapper {
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	&__text {
		font-size: 14px;
		color: var(--text-color);
		&:not(:last-child) {
			margin-bottom: 2px;
		}
	}

	&__additional {
		color: var(--text-color);
		font-size: 11px;
		line-height: 16px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.pointer{
    cursor: pointer;
}
.no-pointer{
    cursor: default;
}